<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>PAG</title>

{% load staticfiles %}
<script src="{% static 'home/jquery.js' %}"></script>
<script src="{% static 'home/jquery.cookie.js' %}"></script>
<script src="{% static 'home/react-with-addons.js' %}"></script>

</head>

<body>
<h1>Pag</h1>

<form action="{% url 'auth' %}" method="post">
  {% csrf_token %}
  http://<input type="text" name="space" id="space"/>.backlog.jp
  <input type="submit" value="Go!" />
</form>

<div id="app-conteiner"></div>
<script src="{% static 'home/bundle.js' %}"></script>

</body>

</html>
