<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Project Auto Grader</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'home/bootstrap/css/bootstrap.min.css' %}"></script>
  <link rel="stylesheet" href="{% static 'home/build/randing.css' %}"></script>
  <link rel="stylesheet" href="{% static 'home/build/grader.css' %}"></script>
</head>
<body>
  <div id="app-conteiner" class="site-wrapper"></div>
  <script src="{% static 'home/build/jquery.js' %}"></script>
  <script src="{% static 'home/build/react-with-addons.js' %}"></script>
  <script src="{% static 'home/build/bundle.js' %}"></script>
  <script src="{% static 'home/build/Chart.min.js' %}"></script>
  <script src="{% static 'home/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
