<h1>Pag</h1>

<form action="{% url 'auth' %}" method="post">
  {% csrf_token %}
  http://<input type="text" name="space" id="space"/>.backlog.jp
  <input type="submit" value="Go!" />
</form>

{% if projects %}
  <h2>Projects</h2>
  <pre>{{ projects }}</pre>
{% endif %}

{% if users %}
  <h2>Users</h2>
  {% for user in users %}
    <pre>{{ user }}</pre>
  {% endfor %}
{% endif %}

{% if issues %}
  <h2>Issues</h2>
  {% for issue in issues %}
    <pre>{{ issue }}</pre>
  {% endfor %}
{% endif %}

{% if comments %}
  <h2>Comments</h2>
  {% for comment in comments %}
    <pre>{{ comment }}</pre>
  {% endfor %}
{% endif %}
